*,
*:before,
*:after {
	box-sizing: border-box;
	-moz-border-box: box-sizing;
	-webkit-border-box: box-sizing;
}

@import '_mixins';
@import '_colours'; // Better Colours
@import '_grid'; // Better Colours

// Specify the number of columns and set column and gutter widths
$columns: 12;
$column-width: 60;
$gutter-width: 20;

// Remove the definition below for a pixel-based layout
$total-width: 100%;

// **********************
// Set Variables Here
//***********************
$basefontsize: 12px;
$baselineheight: 1.5;
$basefontcolour: #333;
$basefontfamily: "minion-pro-display", Georgia, Times, "Times New Roman", serif;
$headingsfontfamily: "brandon-grotesque", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$linkcolour: #0074D9;

body {
	height: 100%;
	color: #626262;
  font-weight: 300;
	font-size: $basefontsize;
	font-family: $basefontfamily;
	background-color: #1F253D;
}

// Headings
// -------------------------
h1, h2, h3, h4, h5, h6, p, ul {
	-webkit-margin-before:0em;
	-webkit-margin-after:0em;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
  font-weight: 500;
  color: #333;
  text-transform: uppercase;
	font-family: $headingsfontfamily;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
	a {
		color: $basefontcolour;
	}
}

h1 {
	@include fontbase(48px);
}

h2 {
	@include fontbase(52px);
}

h3 {
	@include fontbase(42px);
}

h4 {
	@include fontbase(24px);
}

h5 {
	@include fontbase(18px);
}

// General Typography
// -------------------------
p {
	@include fontbase(16px);
	margin-bottom: $basefontsize * 1.2;
}

a {
	color: $linkcolour;
	text-decoration: none;
}

// Lists
// --------------------------------------------------

// Unordered and Ordered lists
ul, ol {
	margin: 0;
	padding: 0;
}

ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}

// **********************
// All Styles Go Below Here Bud
//***********************

.container {
	max-width: 1280px;
	margin: 0 auto;
}

@mixin fullwidth() {
	float: left;
	width: 100%;
	display: block;
}

aside.intro {
	width:22%;
	height: 100%;
	position: fixed;
	float: left;
	display: inline-block;
	background: #1B1E25;
	text-align: center;
	color: #FEFDFD;
	padding: 80px 20px;
	.container {
		position: relative;
		footer {
			margin-top: 50px;
			color: $gray;
			text-align: center;
			a {
				color: $turqouise;
			}
		}
	}
	h1 {
		font-weight: 700;
		color: $yellowish;
		margin-bottom: 0.8em;
	}
	h4 {
		margin-bottom: 1em;
		color: #fafafa;
	}
	h5 {
		margin-bottom: 2em;
		color: #fafafa;
	}
}

section {
	position: relative;
	left: 22%;
	width: 78%;
	float: left;
	display: inline-block;
	header.language {
		text-align: center;
		background: #11A8AB;
		padding: 25px 0;
	}
	ul {
		li {
			@include fullwidth();
			padding: 100px 25px;
			position: relative;
			&:nth-child(even) {
				background: #FFFFFF;
			}
			&:nth-child(odd) {
				background: #FAFAFA;
			}
			.code {
				@include column(6);
				background-color: #FEFDFD;
				border-radius: 5px;
				padding: 25px;
				box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
				border: 1px solid rgba(0,0,0,0.2);
			}
			.display {
				@include column(6);
				h2 {
					@include fontbase(36px);
					line-height: 1em;
					margin-bottom: 0.5em;
					padding-bottom: 0.5em;
					display: inline-block;
					border-bottom: 1px solid #333;
				}
			}
		}
	}
}

// ****************
// Pre Styles
// ****************

.chunk {
	font-family: $headingsfontfamily;
	font-weight: 100;
	margin: 0;
	font-size: 28px;
	color: $basefontcolour;
	// white-space: pre;
	i {
		cursor: pointer;
		font-style: normal;
	}
	.declare {
		color: #CC333F;
	}
	.name {
		color: #00A0B0;
	}
	.parameters {
		color: #A8AD80;
	}
	.ref, .callVar {
		color: $orange;
	}
	.arg {
		color: #4ECDC4;
	}
	.data-string {
		color: #556270;
	}
	.data-integer {
		color: #4ECDC4;
	}
	.data-boolean {
		color: #C7F464;
	}
	.data-array {
		color: $gray;
	}
	.data-object {
		color: $darkGray;
	}
	.object-name {
		color: $orange;
	}
}

@import '_hint';

@media all and (max-width: 480px) {
	.container {
		max-width: 95%;
	}

	aside.intro {
		width:100%;
		height: 100%;
		position: static;
		float: left;
		padding: 50px 20px;
	}
	section {
		position: static;
		left: 0;
		width: 100%;
		ul li .display {
			@include column(12);
			padding-bottom: 10px;
		}
		ul li .code {
			@include column(12);
			padding: 10px 5px;
			.chunk {
				font-size: 18px;
				padding: 10px;
			}
		}
	}
	.hint, [data-hint] {
		position: relative;
		display: inline;
	}
}


